<header style="width:100%;" class="header">

    <div class="h-logo-box -box">
        <div class="h-logo h-cell">
            <a href="#"><img src="/static/images/logo.png" alt=""></a>
            <div style="padding:4px 10px;border-radius:40px;border:1px solid #666666;height:36px;display:flex;flex-direction:row;align-items: center">
                <label for="search">
                    <img
                            src="/static/images/search.png" alt=""
                            style="height:20px;">
                </label>
                <div style="width:1px;height:24px;background-color: #666666;margin: 0 3px;"></div>
                <input
                        id="search"
                        type="text"
                >
            </div>
        </div>
    </div>
    <div class="-box">

    </div>
    <div class="border-top-red">
        <div class="h-subnav">
            <div class="d-flex justify-content-center">
                <a class="subnav-item" href="#">Action</a>
                <a class="subnav-item" href="#">Another action</a>
                <a class="subnav-item" href="#">Something else here</a>
            </div>
        </div>
    </div>

</header>