<nav class="navbar navbar-expand-lg navbar-light h-cell">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">市总概况</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">新闻中心</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link subnav" href="javascript:;">
                    劳模风采
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">惠民服务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">工会文件</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">政策法规</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">职工才艺</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">政务公开</a>
            </li>
        </ul>
    </div>
</nav>