<div class="h-bar-box -box">
    <div class="h-bar h-cell">
        <div><span>2018年8月4号/农历六月廿三 12:07/星期六</span><span style="margin-left: 40px">长沙<img src="" alt=""
                                                                                           style="width: 30px;height:28px;"></span><span
                style="color:red;">36°C ~ 27°C</span></div>
        <div><p>欢迎访问株洲工会！<a href="#" style="color:#333;font-weight: bold;margin:0 10px;">登录|注册</a><a
                href="">我要反馈</a>
        </p></div>
    </div>
</div>