{{template "common.html".}}

{{define "meta"}}
<title>个人中心</title>
{{end}}
{{define "css"}}
<style>
    p {
        margin: 0;
    }

    li {
        list-style: none;
    }

    ul, ol {
        padding: 0;
        margin: 0;
    }

    .text-ov {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .user-panel {
        background-color: #ffffff;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #c73236;
    }

    .user-content {
        height: 600px;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 0 36px 0 40px;
    }

    .nav-list {
        padding-right: 0;
        padding-left: 15px;

    }

    .nav-pills .nav-link {
        border-radius: 0;
        color: #333;
        position: relative;
    }

    .nav-pills .nav-link span {
        width: 30px;
        height: 30px;
        margin-right: 14px;
        vertical-align: middle;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .nav-pills .nav-link + .nav-link::before {
        content: '';
        width: 70%;
        height: 1px;
        background-color: #999999;
        display: block;
        position: absolute;
        top: -1px;
        left: 20px;
    }

    .nav-pills .nav-link.active + .nav-link::before, .nav-pills .nav-link.active::before {
        background-color: transparent;
    }

    .nav-pills .nav-link:first-of-type span {
        background-image: url("/static/images/icon-account.png");
    }

    .nav-pills .nav-link:nth-of-type(2) span {
        background-image: url("/static/images/icon-article.png");
    }

    .nav-pills .nav-link:last-of-type span {
        background-image: url("/static/images/icon-publish.png");
    }

    .nav-pills .nav-link.active:first-of-type span {
        background-image: url("/static/images/icon-account-active.png");
    }

    .nav-pills .nav-link.active:nth-of-type(2) span {
        background-image: url("/static/images/icon-article-active.png");
    }

    .nav-pills .nav-link.active:last-of-type span {
        background-image: url("/static/images/icon-publish-active.png");
    }

    .pwdButton {
        height: 30px;
        font-size: 0.88rem;
        width: 120px;
        padding: 0;
    }

    .article-list {
        height: 411px;
        margin: 40px 20px 50px 10px;
    }

    .article-list a {
        color: #333;
        outline: none;
    }

    .article-list li {
        line-height: 40px;
        border-top: 1px solid #999;
        border-right: 1px solid #999;
        border-left: 1px solid #999;
    }

    .article-list li:last-of-type {
        border-bottom: 1px solid #999;
    }

    .article-time {
        color: #999;
        text-align: right;
    }

    .article-status {
        color: #999;
        text-align: right;
    }

    .article-status.status-pass b {
        color: #329459;
        font-weight: normal;
    }

    .article-status.status-nopass b {
        color: #e42031;
        font-weight: normal;
    }
</style>
{{end}}
{{define "top"}}
{{end}}
{{define "nav"}}
{{end}}
{{define "content"}}
<section class="section"
         style="background-image: url('/static/images/user_bg.png');background-size: cover;padding:50px 0;background-position: center;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="user-panel row">
                    <div class="nav nav-list flex-column nav-pills col-3" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                           role="tab"
                           aria-controls="v-pills-home" aria-selected="true"><span></span>个人资料</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                           role="tab"
                           aria-controls="v-pills-profile" aria-selected="false"><span></span>我的投稿</a>
                        <a class="nav-link" id="v-pills-publish-tab" data-toggle="pill" href="#v-pills-publish"
                           role="tab"
                           aria-controls="v-pills-publish" aria-selected="false"><span></span>我要投稿</a>
                    </div>
                    <div class="tab-content col-9 user-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <div class="row align-items-center" style="margin-bottom: 20px;">
                                <span class="col-2">用户名</span>
                                <span class="col-2" id="myname">XXXXXX</span>

                            </div>
                            <div class="row align-items-center" style="margin-bottom: 20px;">
                                <span class="col-2" id="user_id">昵称</span>
                                <span class="col-2" id="name">XXXXXX</span>
                            </div>
                            <div class="row align-items-center" style="margin-bottom: 20px;">
                                <span class="col-2">性别</span>
                                <span class="col-2" id="sex">XXXXXX</span>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <button type="button" class="col-2 btn btn-success pwdButton" data-toggle="modal"
                                        onclick="saveUser()">保存
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <div>
                                <ul class="article-list" id="articleList">
                                    <li class="row">
                                        <p class="col-6 text-ov"><b
                                                style="color:#c73236;margin: 0 10px 0 0;font-weight: normal;">1</b>
                                            <a href="#" data-toggle="modal" data-target="#exampleModalLong">
                                                2018，株洲工会读书活动，就从这场别开生面... 王建之一行到株洲县朱亭镇长远村调研扶贫工作 务虚会不虚！2018年株洲工会
                                            </a>
                                        </p>
                                        <span class="col-1"></span>
                                        <span class="col-3 article-time">时间:2018-08-17</span>
                                        <span class="col-2 article-status status-pass">状态:<b>已审核</b></span>
                                    </li>
                                </ul>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center" id="page_count">
                                    </ul>
                                </nav>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="v-pills-publish" role="tabpanel"
                             aria-labelledby="v-pills-publish-tab">
                            <label>分类</label>
                            <select id="category">
                            </select>
                            <label>标题</label><input id="title">
                            <label>封面图</label><input type="file" name="file" id="file" multiple="multiple">
                            <div id="show-img"></div>
                            <script id="container" name="content" type="text/plain"></script>
                            <button type="button" class="btn btn-primary" onclick="tSubmit()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改姓名</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="user-recipient-name" class="col-form-label">输入新用户名:</label>
                            <input type="text" class="form-control" id="user-recipient-name">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="usrnSubmit()">下一步
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改性别</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="oldpwd-recipient-name" class="col-form-label">旧密码:</label>
                            <input type="password" class="form-control" id="oldpwd-recipient-name">
                            <label for="oldpwd-recipient-name" class="col-form-label">新密码:</label>
                            <input type="password" class="form-control" id="newpwd-recipient-name">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="pwdSubmit()">下一步
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal long-->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label>分类</label>
                    <select id="category1">
                        <option value="0">-----</option>
                    </select>
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <script id="detail_container" name="content" type="text/plain"></script>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal"></button>-->
                    <button type="button" class="btn btn-primary"
                            onclick="tUpdate($('#detail_container').data('code'))">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container', {
            initialFrameWidth: null,
            initialFrameHeight: 400,
            autoHeightEnabled: false
        });
        var due = UE.getEditor('detail_container', {
            initialFrameWidth: null,
            initialFrameHeight: 300,
            autoHeightEnabled: false
        });
    </script>
    <script>
        $(function () {
            userInit();
            articleInit();
            categoryInit();
        })

        $("#file").change(function () {
            getuploadUrl(this.files[0]);
        });

        function saveUser() {
            nickname = $("#name").val();
            sex = $("#sex").val();


            $.ajax({
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                },
                url: '/api/user/update',
                type: 'post',
                data: {
                    nickname: nickname,
                    sex: sex
                },
                success: function (r) {
                    if (r.status == 10000) {
                        toastr.error("保存成功")
                    }
                },
                error: function () {
                    toastr.error("服务器错误")
                }

            });
        }

        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }

        function userInit() {
            $.ajax({
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                },
                url: '/api/user/data',
                type: 'GET',
                success: function (r) {
                    if (r.status == 10000) {
                        console.log(r);
                        sexText = '';
                        $('#myname').text(r.userinfo.username);
                        $('#name').text(r.userinfo.Name);
                        $('#name').val(r.userinfo.Name);

                        if (r.userinfo.sex == 0) {
                            sexText = "未知";
                        } else if (r.userinfo.sex == 1) {
                            sexText = "男";
                        } else {
                            sexText = "女";
                        }
                        $('#sex').text(sexText);
                        $('#sex').val(r.userinfo.Sex);
                        $('#user_id').val(r.userinfo.ID)
                    } else {
                        toastr.error(r.message);
                    }
                }
            })
        }

        function articleInit() {
            getArticles(1);
        }

        function getuploadUrl(file) {
            image = document.getElementById("file").value;
            var formData = new FormData();
            formData.append("file", file);
            formData.append("name", image);

            $.ajax({
                url: '{{urlfor "Controller.ImgUpload"}}',
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    if (data.status == 10000) {
                        if (data.url) {
                            $("#show-img").html(
                                    '<img src=' + data.url + ' id="imgs" style="height:150px; width:250px;">');

                        }
                    }
                },
                error: function () {
                    toastr.error("服务器错误")
                }

            });

        }

        function categoryInit() {
            $.ajax({
                url: '/api/user/category',
                type: 'GET',
                success: function (r) {
                    if (r.status == 10000) {
                        console.log(r);
                        var ctpl = ''
                        if (r.categories.length != 0) {
                            for (var i = 0; i < r.categories.length; i++) {
                                ctpl += '<option value ="' + r.categories[i].ID + '">' + r.categories[i].Name + '</option>'
                            }
                            $('#category').html(ctpl);
                            $('#category1').html(ctpl);
                        }
                    } else {
                        toastr.error(r.message)
                    }
                }
            })
        }

        function usrnSubmit() {
            var username = $('#user-recipient-name').val();
            $.ajax({
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                },
                url: '/api/user/usrn_update',
                type: 'POST',
                data: {
                    'username': username,
                },
                success: function (r) {
                    if (r.status == 10000) {
                        $('#myname').text(r.userinfo.username);
                        console.log($('#myname').text());
                    } else {
                        toastr.error(r.message);
                    }
                }
            })
        }

        function pwdSubmit() {
            var newpwd = $('#newpwd-recipient-name').val();
            var oldpwd = $('#oldpwd-recipient-name').val();
            $.ajax({
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                },
                url: '/api/user/pwd_update',
                type: 'POST',
                data: {
                    'old_password': oldpwd,
                    'new_password': newpwd,
                },
                success: function (r) {
                    if (r.status == 10000) {
                        toastr.success("修改成功");
                    } else {
                        toastr.error(r.message);
                    }
                }
            })
        }

        function tSubmit() {
            var contenta = ue.getContent();
            var cid = $('#category').val();
            var title = $('#title').val();
            var img = $('#imgs').attr("src");
            console.log(img);
            if (img == "" || img == undefined) {
                toastr.error("请上传文章的封面图");
                return
            }
            if (contenta == "" || title == "") {
                toastr.error("标题或者内容不能为空");
                return
            }

            if (cid == 0) {
                toastr.error("请选择分类");
                return
            }

            $.ajax({
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                },
                url: "/api/article/submit",
                type: 'POST',
                data: {
                    'content': contenta,
                    'cid': cid,
                    'title': title,
                    'cover': img
                },
                success: function (r) {
                    if (r.status = 10000) {
                        toastr.success("您已提交成功");
                        ue.setContent("");
                        $('#title').val("")
                        // getArticles(1);
                        // window.location.href = '/user/center';
                    } else if (r.status == 10001) {
                        toastr.error("请选择分类");

                    } else if (r.status == 10002) {
                        toastr.error("标题或者内容不能为空")

                    } else if (r.status == 10003) {
                        toastr.success("请上传封面图")
                    } else {
                        toastr.success("服务器错误")
                    }
                }
            })
        }

        function tUpdate(tID) {
            var contenta = due.getContent();
            var cid = $('#category').val();
            $.ajax({
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded; charset=utf-8'
                },
                url: "/api/article/update",
                type: 'POST',
                data: {
                    'content': contenta,
                    'id': tID,
                    'cid': cid,
                },
                success: function (r) {
                    if (r.status = 10000) {
                        alert("您已保存成功");
                        getArticles(1);
                        window.location.href = '/user/center';
                    } else {
                        toastr.error(r.message);
                    }
                }
            })
        }

        function getArticles(page) {
            $.ajax({
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                },
                url: '/api/article/list',
                type: 'GET',
                data: {
                    'page': page,
                },
                success: function (r) {
                    if (r.status == 10000) {
                        console.log(r);
                        var tmpl = '';

                        var tmplStatus = '';
                        for (var i = 0; i < r.articles.length; i++) {
                            if (r.articles[i].Status == 1) {
                                tmplStatus = '<span class="col-2 article-status status-pass">状态:<b>已审核</b></span>';
                            }
                            if (r.articles[i].Status == 0) {
                                tmplStatus = '<span class="col-2 article-status status-nopass">状态:<b>未审核</b></span>';
                            }

                            tmpl += '<li class="row">' +
                                    '<p class="col-6 text-ov"><b ' +
                                    'style="color:#c73236;margin: 0 10px 0 0;font-weight: normal;">' + (i + 1) + '</b>' +
                                    '<a href="#" id="t' + (i + 1) + '" data-toggle="modal" data-target="#exampleModalLong">' + r.articles[i].Content.slice(3, -4) +
                                    '</a>' +
                                    '</p>' +
                                    '<span class="col-1"></span>' +
                                    '<span class="col-3 article-time">时间:' + r.articles[i].CreatedAt.slice(0, 10) + '</span>' +
                                    tmplStatus +
                                    '</li>';
                        }
                        $('#articleList').html(tmpl);

                        //分页
                        var page_all = parseInt((r.count / 10) + 1);
                        if (page_all > 1) {
                            for (var i = 0; i < r.articles.length; i++) {
                                $('#t' + (i + 1)).data('code', r.articles[i].ID);
                                console.log($('#t' + (i + 1)).data('code'));
                                $('#t' + (i + 1)).mousedown(function () {
                                    due.setContent($(this).text());
                                    $('#exampleModalLongTitle').text(r.articles[i].Title);

                                    $('#detail_container').data('code', $(this).data('code'));
                                })
                            }
                            var page_count = '<li class="page-item disabled" id="p1">\n' +
                                    '                                            <span class="page-link">上一页</span>\n' +
                                    '                                        </li>';
                            if (r.page != 1) {
                                page_count = '<li class="page-item" id="p1">\n' +
                                        '                                            <span class="page-link">上一页</span>\n' +
                                        '                                        </li>';
                            }

                            console.log(page_all);
                            for (var i = 0; i < page_all; i++) {
                                if (r.page == (i + 1)) {
                                    page_count += '<li class="page-item active" id="p2">\n' +
                                            '<span class="page-link">\n' +
                                            '                                    ' + r.page + '\n' +
                                            '                                    <span class="sr-only">(current)</span>\n' +
                                            '                                  </span>\n' +
                                            '                                        </li>'
                                } else {
                                    page_count += '<li class="page-item" id="p' + (i + 2) + '"><span class="page-link">' + (i + 1) + '</span></li>';
                                }
                            }
                            if (page_all > r.page) {
                                page_count += '<li class="page-item" id="p' + (page_all + 2) + '">\n' +
                                        '                                            <span class="page-link">下一页</span>\n' +
                                        '                                        </li>';
                            } else {
                                page_count += '<li class="page-item disabled" id="p' + (page_all + 2) + '">\n' +
                                        '                                            <span class="page-link">下一页</span>\n' +
                                        '                                        </li>';
                            }
                            $('#page_count').html(page_count)
                        }
                        for (var i = 1; i <= page_all + 2; i++) {
                            $('#p' + i).click(function () {
                                var getVal = $(this).text()
                                if (r.page == 1 && getVal.indexOf("上一页") != -1) {
                                    alert("这是第一页");
                                    return;
                                }
                                if (r.page == page_all && getVal.indexOf("下一页") != -1) {
                                    alert("这是最后一页");
                                    return;
                                }
                                if (getVal.indexOf("下一页") != -1) {
                                    getArticles(r.page + 1);
                                    return;
                                }
                                if (getVal.indexOf("上一页") != -1) {
                                    getArticles(r.page - 1);
                                    return;
                                }
                                if (getVal.length == 1) {
                                    getArticles(getVal);
                                    return;
                                }
                            });
                        }
                    } else {
                        toastr.error(r.message)
                    }
                }
            })
        }
    </script>
</section>
{{end}}
{{define "footer"}}
{{end}}
