<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <style>
        p {
            margin: 0;
        }
        li {
            list-style: none;
        }

        ul, ol {
            padding: 0;
            margin: 0;
        }

        .text-ov {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .s-main {
            padding: 20px 0 0px 10px;
            border-right: 1px solid #999999;
            border-radius: 4px;
            overflow: hidden;
            width: 1100px;
            margin: 50px auto;
        }

        .user-panel {
        }

        .user-content {
            height: 600px;
            border-bottom: 1px solid #999999;
            border-left: 1px solid #999999;
            padding: 0 36px 0 40px;
        }

        .pwdButton {
            height: 30px;
            font-size: 0.88rem;
            width: 120px;
            padding: 0;
        }

        .article-list {
            height: 411px;
            margin: 40px 20px 50px 10px;
        }

        .article-list li {
            line-height: 40px;
            border-top: 1px solid #999;
            border-right: 1px solid #999;
            border-left: 1px solid #999;
        }

        .article-list li:last-of-type {
            border-bottom: 1px solid #999;
        }

        .article-time {
            color: #999;
            text-align: right;
        }

        .article-status {
            color: #999;
            text-align: right;
        }

        .article-status.status-pass b {
            color: #329459;
            font-weight: normal;
        }
    </style>
</head>
<body>
<section>
    <div class="s-main">
        <div class="user-panel row">
            <div class="nav flex-column nav-pills col-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">个人资料</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">我的文章</a>
                <a class="nav-link" id="v-pills-publish-tab" data-toggle="pill" href="#v-pills-publish" role="tab"
                   aria-controls="v-pills-publish" aria-selected="false">我的投稿</a>
            </div>
            <div class="tab-content col-9 user-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="row align-items-center" style="margin-bottom: 20px;">
                        <span class="col-2">用户名</span>
                        <span class="col-2">XXXXXX</span>
                    </div>
                    <div class="row">
                        <button type="button" class="col-2 btn btn-success pwdButton" data-toggle="modal"
                                data-target="#exampleModal">修改用户名
                        </button>
                        <div class="col-1"></div>
                        <button type="button" class="btn btn-success pwdButton">修改密码</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div>
                        <ul class="article-list">
                            <li class="row">
                                <p class="col-6 text-ov"><b style="color:#c73236;margin: 0 10px 0 0;font-weight: normal;">1</b>
                                    <a href="#" data-toggle="modal" data-target="#exampleModalLong">
                                        2018，株洲工会读书活动，就从这场别开生面... 王建之一行到株洲县朱亭镇长远村调研扶贫工作 务虚会不虚！2018年株洲工会
                                    </a>
                                </p>
                                <span class="col-1"></span>
                                <span class="col-3 article-time">时间:2018-08-17</span>
                                <span class="col-2 article-status status-pass">状态:<b>已审核</b></span>
                            </li>
                            <li class="row">
                                <p class="col-6 text-ov"><b style="color:#c73236;margin: 0 10px 0 0;font-weight: normal;">1</b>
                                    <a href="#">
                                        2018，株洲工会读书活动，就从这场别开生面... 王建之一行到株洲县朱亭镇长远村调研扶贫工作 务虚会不虚！2018年株洲工会
                                    </a>
                                </p>
                                <span class="col-1"></span>
                                <span class="col-3 article-time">时间:2018-08-17</span>
                                <span class="col-2 article-status status-pass">状态:<b>已审核</b></span>
                            </li>
                            <li class="row">
                                <p class="col-6 text-ov"><b style="color:#c73236;margin: 0 10px 0 0;font-weight: normal;">1</b>
                                    <a href="#">
                                        2018，株洲工会读书活动，就从这场别开生面... 王建之一行到株洲县朱亭镇长远村调研扶贫工作 务虚会不虚！2018年株洲工会
                                    </a>
                                </p>
                                <span class="col-1"></span>
                                <span class="col-3 article-time">时间:2018-08-17</span>
                                <span class="col-2 article-status status-pass">状态:<b>已审核</b></span>
                            </li>
                            <li class="row">
                                <p class="col-6 text-ov"><b style="color:#c73236;margin: 0 10px 0 0;font-weight: normal;">1</b>
                                    <a href="#">
                                        2018，株洲工会读书活动，就从这场别开生面... 王建之一行到株洲县朱亭镇长远村调研扶贫工作 务虚会不虚！2018年株洲工会
                                    </a>
                                </p>
                                <span class="col-1"></span>
                                <span class="col-3 article-time">时间:2018-08-17</span>
                                <span class="col-2 article-status status-pass">状态:<b>已审核</b></span>
                            </li>
                            <li class="row">
                                <p class="col-6 text-ov"><b style="color:#c73236;margin: 0 10px 0 0;font-weight: normal;">1</b>
                                    <a href="#">
                                        2018，株洲工会读书活动，就从这场别开生面... 王建之一行到株洲县朱亭镇长远村调研扶贫工作 务虚会不虚！2018年株洲工会
                                    </a>
                                </p>
                                <span class="col-1"></span>
                                <span class="col-3 article-time">时间:2018-08-17</span>
                                <span class="col-2 article-status status-pass">状态:<b>已审核</b></span>
                            </li>
                        </ul>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <span class="page-link">上一页</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                  <span class="page-link">
                                    2
                                    <span class="sr-only">(current)</span>
                                  </span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">下一页</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <div class="tab-pane fade" id="v-pills-publish" role="tabpanel" aria-labelledby="v-pills-publish-tab">
                    ...
                </div>
            </div>
        </div>
    </div>
</section>


<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改用户名</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">当前用户名:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary">下一步</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal long-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">我的文章---标题</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal"></button>-->
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    // $('.details').on('click',function(){
    //
    // })
</script>
</html>
