{{template "common.html".}}
{{define "meta"}}
<title>{{.category.Name}}</title>
{{end}}
{{define "css"}}
<style>

    .panel-title-span-active::after {
        width: 0;
        height: 0;
        content: '';
        bottom: -14px;
        position: absolute;
        left: 50%;
        margin-left: -7px;
        border-width: 7px;
        border-color: #c73236 transparent transparent;
        border-style: solid;
    }

    ._list-item {
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
    }

    .image-box {
        display: block;
        background-size: cover;
        background-position: center;
    }

    .tabbar-group-item {
        position: relative;
        display: block;
        padding: 1rem 1rem;
        margin-bottom: 6px;
        border: 1px solid #ccc;
        background: url(/static/images/tabbar-bg.png) #f5f1f0 repeat-x;
        background-size: 60%;
        font-size: 1.2rem;
        color: #333;
    }

    .tabbar-group-item.active {
        background: #c73236 url(/static/images/tabbar-active-bg.png) repeat-x;
        background-size: 60%;
        color: #fff;
    }

    .tabbar-group-item:hover, .tabbar-group-item:focus {
        background: #c73236 url(/static/images/tabbar-active-bg.png) repeat-x;
        background-size: 60%;
        color: #fff;
    }

    .tabbar {
        padding: 0;
        margin-top: -1px;
        margin-left: -1px;
    }

    .m-pagination {
        margin: 60px 0;
    }

    .news-content {
        padding: 10px 0;
    }

    .news-content-item {
        padding: 6px 0 6px 1rem;
        line-height: 1.4rem;
        font-size: 1rem;
        position: relative;
    }

    .news-content-item::before {
        position: absolute;
        width: 6px;
        height: 6px;
        content: '';
        left: 0px;
        top: 14px;
        border-radius: 6px;
        background-color: #c73236;
    }

    .news-content-item a {
        color: #333333;
        font-size: 1rem;
    }

    .side-list {
        border: 1px solid #ccc;
        padding: 10px;
    }
    .card{
        border:none;
        margin: 20px 0;
    }
    .card-body {
        transition: border 0.3s;
        padding: 1.25rem 0;
        border-bottom: 3px solid #ccc;
    }

    .card:hover .card-body {
        border-color: #c73236;
    }

    .card ~ .card {
        margin-left: 8px;
    }

    .card-image {
        background-color: #c73236;
        position: relative;
        height: 140px;
        width: 100%;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        transition: border 0.3s;
    }

    .image-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        transition: height 0.3s;
        background: rgba(0, 0, 0, .4) url(/static/images/search-mask.png) no-repeat center;/*TODO 图片要换*/
        background-size: 20%;
    }
    .card-image:hover .image-mask{
        height: 100%;
    }
    .card-text {
        font-size: 0.92rem;
        line-height: 1.4;
    }
</style>
{{end}}

{{define "top"}}
{{end}}
{{define "nav"}}
{{end}}
{{define "content"}}
<div class="container">
    <nav>
        <ol class="m-breadcrumb">
            <li class="m-breadcrumb-tips">当前位置：</li>
            <li class="m-breadcrumb-item"><a href="#">首页</a></li>
        {{range $index,$elem:=.categoryStack}}
            <li class="m-breadcrumb-item {{if eq $.category.ID $elem.ID}} active {{end}}" aria-current="page">
                <a href="/category/{{$elem.ID}}">
                {{$elem.Name}}
                </a>
            </li>
        {{end}}
        </ol>
    </nav>
    <div class="main row">
        <div class="tab-content col-sm-12 col-md-9" id="nav-tabContent">
            <div class="tab-pane fade show active _list" id="list-profile" role="tabpanel"
                 aria-labelledby="list-profile-list">
                <!--<div class="_list col-9">-->
                <div class="panel-title">
                    <span class="panel-title-span-active">{{.category.Name}}</span>
                </div>
                <div class="_list-panel">
                    <div class="list-box">

                    <div class="{{if eq .category.Category 0}}row{{end}}" >
                    {{range $index,$elem:=.articles}}
                    {{if eq $.category.Category 0}}
                        <div class="col-md-4 col-sm-12">
                            <div class="card" style="width:100%;">
                                <div class="card-image" style="height:160px;width: 100%;background-image: url({{$elem.Cover}})">
                                    <a href="/article/{{.ID}}" class="image-mask"></a></div>
                                <div class="card-body">
                                    <a href="/article/{{.ID}}}"><h5 class="card-title text-ov">{{str2html $elem.Title}}</h5></a>
                                    <!--TODO p可有可无-->
                                    <p class="card-text text-ov-3"> {{str2html .Summary}}</p>
                                </div>
                            </div>
                        </div>
                    {{else if $elem.Cover.Url}}
                        <div class="_list-item">
                            <div class="row">
                                <div class="item-image-left col-md-5 col-sm-12">
                                    <div class="image-box" style="height:226px; background-image: url({{$elem.Cover}})">
                                    </div>
                                </div>
                                <div class="item-article-right col-md-7 col-sm-12">
                                    <h4 class="text-ov item-article-title">{{str2html .Title}}</h4>
                                    <p class="item-sub-extra">{{.Author}} {{date .CreatedAt "Y-m-d"}}</p>
                                    <p class="item-article-content text-ov-4">
                                    {{str2html .Summary}}
                                    </p>
                                    <div class="more-cell more-cell-bg" style="margin-top: 30px;"><a
                                            href="/article/{{.ID}}">查看更多 ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="_list-item">
                            <a href="/article/{{.ID}}" style="text-decoration: none;"><h4
                                    class="text-ov item-article-title">
                            {{.Title}}</h4></a>
                            <p class="item-article-sub-extra">{{.Author}} {{date .CreatedAt "Y-m-d"}}</p>
                            <a href="/article/{{.ID}}" style="text-decoration: none;">
                                <p class="item-article-content text-ov-2">
                                {{str2html .Summary}}
                                </p>
                            </a>
                        </div>
                    {{end}}
                    {{end}}
                    </div>

                    </div>

                {{template "paginator.html".}}

                </div>
            </div>
        </div>
        <div class="extra col-sm-12 col-md-3">
            <div class="tabbar">
                <div class="list-group" id="list-tab" role="tablist">
                {{range $index,$elem:=.categories}}
                    <a class="tabbar-group-item list-group-item-action{{if eq $elem.ID $.category.ID}} active {{end}}"
                       href="/category/{{$elem.ID}}" role="tab" aria-controls="home">
                        <span class="tabbar-item-forward" src="/static/images/forward.png"
                              style="margin-right: 10px;">
                        </span>{{$elem.Name}}</a>
                {{end}}

                </div>
            </div>
            <div class="side-list" style="margin-top: 20px;">
                <div class="panel-title">
                    <span class="panel-title-span">推荐新闻</span>
                </div>
                <ol class="news-content">
                {{range .recommend}}
                    <li class="news-content-item text-ov">
                        <a href="/article/{{.ID}}">{{.Title}}</a>
                    </li>
                {{end}}
                </ol>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "footer"}}
{{end}}
