{{template "common.html".}}
{{define "meta"}}
<title>首页</title>
{{end}}
{{define "css"}}
<style>
    .s-carousel {
        width: 100%;
        min-width: 1200px;
        margin: 0 auto;
        height: 450px;
        overflow: hidden;
    }

    .s-cell {
        padding: 10px 0 60px 0;
    }

    .list-group-item-action:hover, .list-group-item-action:focus {
        background-color: transparent;
    }

    .s-box {
        padding-bottom: 90px;
    }

    .tab-view {
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        margin: 0;
    }

    .tabbar-group-item {
        position: relative;
        display: block;
        padding: 1.2rem 1.25rem;
        margin-bottom: -1px;
        border: 1px solid #ccc;
        background: url(/static/images/tabbar-bg.png) #f5f1f0 repeat-x;
        background-size: 60%;
        font-size: 1.2rem;
        color: #333;
    }

    .tabbar-group-item.active {
        background: #c73236 url(/static/images/tabbar-active-bg.png) repeat-x;
        background-size: 60%;
        color: #fff;
    }

    .tabbar-group-item:hover, .tabbar-group-item:focus {
        background: #c73236 url(/static/images/tabbar-active-bg.png) repeat-x;
        background-size: 60%;
        color: #fff;
    }

    .tabbar-group-item-image01 {
        background: url(/static/images/1-2.png) no-repeat center;
    }

    .tabbar-group-item-image02 {
        background: url(/static/images/2-2.png) no-repeat center;
    }

    .tabbar-group-item-image03 {
        background: url(/static/images/3-2.png) no-repeat center;
    }

    .tabbar-group-item:hover .tabbar-group-item-image01, .tabbar-group-item.active .tabbar-group-item-image01 {
        background-image: url(/static/images/1-1.png);
    }

    .tabbar-group-item:hover .tabbar-group-item-image02, .tabbar-group-item.active .tabbar-group-item-image02 {
        background-image: url(/static/images/2-1.png);
    }

    .tabbar-group-item:hover .tabbar-group-item-image03, .tabbar-group-item.active .tabbar-group-item-image03 {
        background-image: url(/static/images/3-1.png);
    }

    .tabbar-group-item-image {
        width: 60px;
        height: 60px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .tabbar {
        padding: 0;
        margin-top: -1px;
        margin-left: -1px;
    }

    .tabcontent {
        padding: 10px;
    }

    .news-pane {
    }

    .news-carousel {
        float: left;
        width: 460px;
        height: 260px;
    }

    .news-group {
        float: right;
    }

    .news-groupContent {
        width: 380px;
        border-bottom: 2px solid #ccc;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .news-group-item {
        text-align: center;
        position: relative;
        display: block;
        padding: 0.3rem 0.6rem;
        font-size: 1rem;
        color: #333;
        margin-bottom: -2px;
    }

    .news-group-item.active, .news-group-item:hover {
        border-bottom: 2px solid #c73236;
    }

    /*.panel-title-span:hover::after, .news-tab-item.active::after,.nav-item.active a::after,.nav-item a:hover::after*/
    .sharp.active::after, .sharp:hover::after, .active > .sharp::after, .nav-item:hover .nav-link.sharp::after {
        width: 0;
        height: 0;
        content: '';
        bottom: -14px;
        position: absolute;
        left: 50%;
        margin-left: -7px;
        border-width: 7px;
        border-color: #c73236 transparent transparent;
        border-style: solid;
    }

    .news-content {
        padding: 10px 0;
        margin-bottom: 0;
    }

    .news-content-item {
        padding: 6px 0 6px 1rem;
        line-height: 1.4rem;
        font-size: 1rem;
        position: relative;
    }

    .news-content-item::before {
        position: absolute;
        width: 6px;
        height: 6px;
        content: '';
        left: 0px;
        top: 14px;
        border-radius: 6px;
        background-color: #c73236;
    }

    .news-content-item a {
        color: #333333;
        font-size: 1rem;
    }

    .newscontent {
        width: 380px;
    }

    .news-more-cell {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .more-cell {
        font-size: 0.92rem;
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #c73236;
    }

    .more-cell a {
        color: #fff;
        margin-right: 4px;
    }

    .panel-box {
        margin-left: -40px;
    }

    .panel-list {
        padding: 0 40px;
    }

    .panel-topbar {
        width: 100%;
        padding: 16px 0;
        height: 140px;
    }

    .ptb-left {
        width: 160px;
        float: left;
    }

    .ptb-image {
        width: 160px;
        height: 110px;
        border: 1px solid #c73236;
        background-color: #005cbf;
        overflow: hidden;
    }

    .ptb-right {
        width: 260px;
        float: right;
    }

    .ptb-title {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .ptb-content {
        font-size: 0.84rem;
        line-height: 1.2;
        color: #999999;
    }

    .pc-list {

    }

    .pc-list-item {
        height: 30px;
        position: relative;
        padding: 0 8px 8px 1rem;
        font-size: 0.92rem;
    }

    .pc-list-item > a {
        width: 80%;
        float: left;
        color: #333;
    }

    .pc-list-item .item-time {
        float: right;
        font-size: 0.88rem;
        color: #999999;
    }

    .pc-list-item::before {
        position: absolute;
        width: 8px;
        height: 8px;
        content: '';
        left: 0px;
        top: 7px;
        border-style: solid;
        border-width: 2px;
        border-color: #c73236 #c73236 transparent transparent;
        transform: rotate(45deg);
    }

    .panel-nav-item {
        padding: 13px 10px;
        margin-bottom: 11px;
        background-color: #ccc;

    }

    .panel-nav-item a {
        color: #333;

    }

    .panel-nav-item.active, .panel-nav-item:hover {
        background-color: #c73236;
    }

    .panel-nav-item.active a, .panel-nav-item:hover a {
        color: #fff;
        text-decoration: none;
    }

    .panel-nav-item-image {
        width: 34px;
        height: 34px;
        vertical-align: middle;
        display: inline-block;
        margin: 0 10px;
    }

    .panel-nav-item-image01 {
        background: url(/static/images/a1-2.png) no-repeat center;
    }

    .panel-nav-item-image02 {
        background: url(/static/images/a2-2.png) no-repeat center;
    }

    .panel-nav-item-image03 {
        background: url(/static/images/a3-2.png) no-repeat center;
    }

    .panel-nav-item-image04 {
        background: url(/static/images/a4-2.png) no-repeat center;
    }

    .panel-nav-item-image05 {
        background: url(/static/images/a5-2.png) no-repeat center;
    }

    .panel-nav-item:hover .panel-nav-item-image01, .panel-nav-item.active .panel-nav-item-image01 {
        background-image: url(/static/images/a1-1.png)
    }

    .panel-nav-item:hover .panel-nav-item-image02, .panel-nav-item.active .panel-nav-item-image02 {
        background-image: url(/static/images/a2-1.png)
    }

    .panel-nav-item:hover .panel-nav-item-image03, .panel-nav-item.active .panel-nav-item-image03 {
        background-image: url(/static/images/a3-1.png)
    }

    .panel-nav-item:hover .panel-nav-item-image04, .panel-nav-item.active .panel-nav-item-image04 {
        background-image: url(/static/images/a4-1.png)
    }

    .panel-nav-item:hover .panel-nav-item-image05, .panel-nav-item.active .panel-nav-item-image05 {
        background-image: url(/static/images/a5-1.png)
    }

    .news-section {
        position: relative;
        border-top: 2px solid #c73236;
        width: 100%;
        padding: 10px 0;
        min-width: 1200px;
        margin: 0 auto;
    }

    .news-tab {
        position: absolute;
        top: -34px;
        width: 100%;
        max-width: 1200px;
        margin-left: 50%;
        left: -600px;
    }

    .news-tab-item {
        padding: 10px;
        color: #999999;
        position: relative;
        font-size: 1.12rem;
    }

    .news-tab-item.active, .news-tab-item:hover {
        padding: 10px;
        color: #fff;
        background-color: #c73236;
        text-decoration: none;
    }

    .news-tab-more-cell {
        position: absolute;
        right: 0;
        bottom: -6px;
    }

    .pic-news-carousel {
        max-width: 1200px;
        margin: 30px auto 60px;
    }

    .card {
        border: none;
    }

    .card-body {
        transition: border 0.3s;
        padding: 1.25rem 0;
        border-bottom: 3px solid #ccc;
    }

    .card:hover .card-body {
        border-color: #c73236;
    }

    .card ~ .card {
        margin-left: 8px;
    }

    .card-image {
        position: relative;
        border: 2px solid transparent;
        height: 140px;
        width: 100%;
        overflow: hidden;
        transition: border 0.3s;
    }

    .card:hover .card-image {
        border-color: #c73236;
    }

    .image-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        transition: height 0.3s;
        background: rgba(0, 0, 0, .4) url(/static/images/search-mask.png) no-repeat center;
        background-size: 20%;
    }

    .card .card-image:hover .image-mask {
        height: 100%;
    }

    .card-text {
        font-size: 0.92rem;
        line-height: 1.4;
    }

    .bottom-mask {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.45);
        height: 28px;
        width: 100%;
        color: #fff;
        padding: 0 30px;
        line-height: 28px;
    }
</style>
{{end}}

{{define "top"}}
{{end}}
{{define "nav"}}
{{end}}


{{define "content"}}
<section>
    <div class="s-carousel">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            {{range $index,$elem:=.rotations}}
                <li data-target="#carouselIndicators" data-slide-to="{{$index}}"
                    class="{{if eq $index 0}}active{{end}}"></li>
            {{end}}
            </ol>
            <div class="carousel-inner">
            {{range $index,$elem:=.rotations}}
                <div class="carousel-item {{if eq $index 0}}active{{end}}">
                    <div class="d-block w-100"
                         style="width: 100%;height: 450px;
                                 background-image: url({{$elem.Url}});
                                 background-size: cover;
                                 background-position: center">
                    </div>
                </div>
            {{end}}
            </div>
        </div>
    </div>
    <div class="-box s-box"
         style="background-image: url(/static/images/bg01.png); background-repeat:no-repeat;background-size: contain;background-position-x: 700px;background-position-y: 400px;">
        <div style="margin: 0 auto;padding:20px; background-color: rgba(255,255,255,.8);width:1240px;">
            <div class="s-panel">
                <div class="s-cell">
                    <div class="row tab-view">
                        <div class="col-3 tabbar">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="tabbar-group-item list-group-item-action active" id="list-home-list"
                                   data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                                    <span class="tabbar-group-item-image01 tabbar-group-item-image"></span>
                                    新闻中心</a>
                                <a class="tabbar-group-item list-group-item-action" id="list-profile-list"
                                   data-toggle="list"
                                   href="#list-profile" role="tab" aria-controls="profile">
                                    <span class="tabbar-group-item-image02 tabbar-group-item-image"></span>
                                    工会视频
                                </a>
                                <a class="tabbar-group-item list-group-item-action" id="list-messages-list"
                                   data-toggle="list"
                                   href="#list-messages" role="tab" aria-controls="messages">
                                    <span class="tabbar-group-item-image03 tabbar-group-item-image"></span>
                                    通知公告</a>
                            </div>
                        </div>
                        <div class="col-9 tabcontent">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active news-pane" id="list-home" role="tabpanel"
                                     aria-labelledby="list-home-list">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="news-carousel">
                                                <div id="newsCarouselIndicators" class="carousel slide"
                                                     data-ride="carousel">
                                                    <ol class="carousel-indicators"
                                                        style="width: 100px;margin-left: 76%;bottom: -6px;">

                                                    {{range $index,$elem:=.carouselNews}}
                                                        <li data-target="#newsCarouselIndicators" data-slide-to="{{$index}}"
                                                            class="{{if eq $index 0}}active{{end}}"></li>
                                                    {{end}}

                                                    </ol>
                                                    <div class="carousel-inner">
                                                    {{range $index,$elem:=.carouselNews}}
                                                        <div class="carousel-item {{if eq $index 0}}active{{end}}">
                                                            <div class="d-block w-100"
                                                                 style="width: 100%;height: 260px;
                                                                         background-image: url({{$elem.Cover}});
                                                                         background-size: cover;
                                                                         background-position: center">
                                                            </div>
                                                            <div class="bottom-mask">{{$elem.Title}}</div>
                                                        </div>
                                                    {{end}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="news-group">
                                                <div class="list-group news-groupContent">
                                                    <a class="news-group-item sharp list-group-item-action active"
                                                       id="news-home-list"
                                                       data-toggle="list"
                                                       href="#news-home" role="tab" aria-controls="home">时政要闻</a>
                                                    <a class="news-group-item sharp list-group-item-action"
                                                       id="news-labor-list"
                                                       data-toggle="list"
                                                       href="#news-labor" role="tab" aria-controls="labor">工会要闻</a>
                                                    <a class="news-group-item sharp list-group-item-action"
                                                       id="news-basic-list"
                                                       data-toggle="list"
                                                       href="#news-basic" role="tab" aria-controls="basic">基层动态</a>
                                                    <a class="news-group-item sharp list-group-item-action"
                                                       id="news-wechat-list"
                                                       data-toggle="list"
                                                       href="#news-wechat" role="tab"
                                                       aria-controls="wechat">微信文章</a>
                                                </div>

                                                <div class="newscontent">
                                                    <div class="tab-content" id="news-tabContent">
                                                        <div class="tab-pane fade show active news-pane"
                                                             id="news-home"
                                                             role="tabpanel"
                                                             aria-labelledby="news-home-list">
                                                            <ol class="news-content">
                                                            {{range .politicalNews}}
                                                            <li class="news-content-item text-ov"><a
                                                                    href="/article/{{.ID}}">{{.Title}}</a>
                                                            {{end}}
                                                            </ol>
                                                        </div>
                                                        <div class="tab-pane fade news-pane"
                                                             id="news-labor"
                                                             role="tabpanel"
                                                             aria-labelledby="news-home-list">
                                                            <ol class="news-content">
                                                            {{range .unionNews}}
                                                            <li class="news-content-item text-ov"><a
                                                                    href="/article/{{.ID}}">{{.Title}}</a>
                                                            {{end}}
                                                            </ol>
                                                        </div>
                                                        <div class="tab-pane fade news-pane"
                                                             id="news-basic"
                                                             role="tabpanel"
                                                             aria-labelledby="news-home-list">
                                                            <ol class="news-content">
                                                            {{range .grassrootsNews}}
                                                            <li class="news-content-item text-ov"><a
                                                                    href="/article/{{.ID}}">{{.Title}}</a>
                                                            {{end}}
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                     aria-labelledby="list-profile-list">...
                                </div>
                                <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                     aria-labelledby="list-messages-list">
                                    <div class="panel-title" style="margin-bottom: 30px;">
                                        <span class="panel-title-span sharp">通知公告</span>
                                    </div>
                                    <ul class="pc-list" style="margin-bottom: 0;">
                                    {{range .publicNews}}
                                        <li class="pc-list-item">
                                            <a href="/article/{{.ID}}"
                                               class="text-ov">{{.Title}}</a>
                                            <span class="item-time">{{date .CreatedAt "m-d"}}</span>
                                        </li>
                                    {{end}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="s-panel">
                <div class="row panel-box">
                    <div class="col-5 panel-list">
                        <div class="panel-title">
                            <span class="panel-title-span sharp">政策法规</span>
                            <span class="panel-title-en">Photo News</span>
                            <div class="more-cell title-more-cell"><a href="#">查看更多 ></a></div>
                        </div>
                        <div class="panel-content">
                            <div class="panel-topbar">
                                <div class="ptb-left ptb-image"><img src="" alt=""></div>
                                <div class="ptb-right">
                                    <h4 class="ptb-title">中华人民共和国新工会法</h4>
                                    <p class="ptb-content">
                                        为保障工会在国家政治、经济和社会生活中的地位，确定工会的权利与义务，发挥工会在社会主义现代化建设事业中的作用，根据宪法，制定本法。</p>
                                </div>
                            </div>
                            <ul class="pc-list">
                                <li class="pc-list-item"><a href="#" class="text-ov">2018，株洲工会读书活动，就从这场别开生面...株洲工会读书活动，就从这场别开生面...</a><span
                                        class="item-time">08-24</span>
                                </li>
                                <li class="pc-list-item"><a href="#" class="text-ov">王建之一行到株洲县朱亭镇长远村调研扶贫工作</a><span
                                        class="item-time">08-24</span>
                                </li>
                                <li class="pc-list-item"><a href="#" class="text-ov">务虚会不虚！2018年株洲工会工作要这么干！</a><span
                                        class="item-time">08-24</span>
                                </li>
                                <li class="pc-list-item"><a href="#" class="text-ov">2018“情系夕阳 关爱老人”
                                    迎元旦慰问演出..</a><span class="item-time">08-24</span></li>
                                <li class="pc-list-item"><a
                                        href="#" class="text-ov">株洲市总工会2017年“民生100”工程完成情...</a><span
                                        class="item-time">08-24</span></li>
                                <li class="pc-list-item"><a href="#" class="text-ov">《服饰搭配与美颜美妆》讲座</a><span
                                        class="item-time">08-24</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-5 panel-list">
                        <div class="panel-title">
                            <span class="panel-title-span sharp">工会文件</span>
                            <span class="panel-title-en">Photo News</span>
                            <div class="more-cell title-more-cell"><a href="#">查看更多 ></a></div>
                        </div>
                        <div class="panel-content">
                            <div class="panel-topbar">
                                <div class="ptb-left ptb-image"><img src="" alt=""></div>
                                <div class="ptb-right">
                                    <h4 class="ptb-title">中华人民共和国新工会法</h4>
                                    <p class="ptb-content">
                                        为保障工会在国家政治、经济和社会生活中的地位，确定工会的权利与义务，发挥工会在社会主义现代化建设事业中的作用，根据宪法，制定本法。</p>
                                </div>
                            </div>
                            <ul class="pc-list">
                                <li class="pc-list-item"><a href="#" class="text-ov">2018，株洲工会读书活动，就从这场别开生面...株洲工会读书活动，就从这场别开生面...</a><span
                                        class="item-time">08-24</span>
                                </li>
                                <li class="pc-list-item"><a href="#" class="text-ov">王建之一行到株洲县朱亭镇长远村调研扶贫工作</a><span
                                        class="item-time">08-24</span>
                                </li>
                                <li class="pc-list-item"><a href="#" class="text-ov">务虚会不虚！2018年株洲工会工作要这么干！</a><span
                                        class="item-time">08-24</span>
                                </li>
                                <li class="pc-list-item"><a href="#" class="text-ov">2018“情系夕阳 关爱老人”
                                    迎元旦慰问演出..</a><span class="item-time">08-24</span></li>
                                <li class="pc-list-item"><a
                                        href="#" class="text-ov">株洲市总工会2017年“民生100”工程完成情...</a><span
                                        class="item-time">08-24</span></li>
                                <li class="pc-list-item"><a href="#" class="text-ov">《服饰搭配与美颜美妆》讲座</a><span
                                        class="item-time">08-24</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <nav class="panel-nav">
                            <li class="panel-nav-item">
                                <a href="#">
                                    <span class="panel-nav-item-image panel-nav-item-image01"></span>
                                    工作指南
                                </a>
                            </li>
                            <li class="panel-nav-item">
                                <a href="#">
                                    <span class="panel-nav-item-image panel-nav-item-image02"></span>电子书屋</a>
                            </li>
                            <li class="panel-nav-item">
                                <a href="#">
                                    <span class="panel-nav-item-image panel-nav-item-image03"></span>在线课堂</a>
                            </li>
                            <li class="panel-nav-item">
                                <a href="#">
                                    <span class="panel-nav-item-image panel-nav-item-image04"></span>芙蓉情缘</a>
                            </li>
                            <li class="panel-nav-item">
                                <a href="#">
                                    <span class="panel-nav-item-image panel-nav-item-image05"></span>主席信箱</a>
                            </li>
                        </nav>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="news-section">
        <div class="news-tab">
            <div class="tabbar">
                <div class="list-group" id="list-news" role="tablist" style="display: block;">
                    <a class="news-tab-item list-group-item-action active sharp" id="list-pic-news"
                       data-toggle="list" href="#list-pic" role="tab" aria-controls="home">
                        图片新闻
                    </a>
                    <a class="news-tab-item list-group-item-action sharp" id="list-video-news"
                       data-toggle="list" href="#list-video" role="tab" aria-controls="home">
                        视频新闻
                    </a>
                    <div class="more-cell news-tab-more-cell"><a href="#">查看更多 ></a></div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="new-tabContent">
            <div class="tab-pane fade show active _list" id="list-pic" role="tabpanel"
                 aria-labelledby="list-pic-news">
                <div class="pic-news-carousel">
                    <div id="picNewsCarouselIndicators" class="carousel slide" data-ride="carousel"
                         data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-inline-block">
                                    <div class="card " style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some
                                                quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-inline-block">
                                    <div class="card" style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#picNewsCarouselIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#picNewsCarouselIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show _list" id="list-video" role="tabpanel"
                 aria-labelledby="list-video-news">
                <div class="pic-news-carousel">
                    <div id="videoNewsCarouselIndicators" class="carousel slide" data-ride="carousel"
                         data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-inline-block">
                                    <div class="card " style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some
                                                quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-inline-block" style="margin-left: 7px">
                                    <div class="card" style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some
                                                quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-inline-block" style="margin-left: 7px">
                                    <div class="card" style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some
                                                quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-inline-block" style="margin-left: 7px">
                                    <div class="card" style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some
                                                quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-inline-block" style="margin-left: 7px">
                                    <div class="card" style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-inline-block">
                                    <div class="card " style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some
                                                quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-inline-block" style="margin-left: 7px">
                                    <div class="card" style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some
                                                quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-inline-block" style="margin-left: 7px">
                                    <div class="card" style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some
                                                quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-inline-block" style="margin-left: 7px">
                                    <div class="card" style="width:230px;height:300px;">
                                        <div class="card-image"><img src="..."
                                                                     style="height:140px;width:100%;background-color: #005cbf;"
                                                                     alt="Card image cap"><a href="#"
                                                                                             class="image-mask"></a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-ov">Card title</h5>
                                            <p class="card-text text-ov-4">Some quick example text to build on the Some
                                                quick
                                                example text to build on the Some quick example text to build on the
                                                Some
                                                quick
                                                example text to build on the Some quick example text to build on
                                                the </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#videoNewsCarouselIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#videoNewsCarouselIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url(/static/images/bg02.png); background-repeat:no-repeat;background-size: contain;background-position-x: -500px;background-position-y: 0px;">
            <div style="margin: 0 auto 40px;padding:20px 20px 0; background-color: #fff;width:1240px;">
                <div class="row" style="margin-left: -40px;margin-right: 0px;">
                    <div class="col-5" style="padding: 0 40px;">
                        <div class="panel-title">
                            <span class="panel-title-span sharp">职工服务</span>
                            <span class="panel-title-en">Photo News</span>
                            <div class="more-cell title-more-cell"><a href="#">查看更多 ></a></div>
                        </div>
                        <div class="panel-content">
                            <div class="panel-topbar">
                                <div class="ptb-left ptb-image"><img src="" alt=""></div>
                                <div class="ptb-right">
                                    <h4 class="ptb-title">中华人民共和国新工会法</h4>
                                    <p class="ptb-content">
                                        为保障工会在国家政治、经济和社会生活中的地位，确定工会的权利与义务，发挥工会在社会主义现代化建设事业中的作用，根据宪法，制定本法。</p>
                                </div>
                            </div>
                            <ul class="pc-list">
                                <li class="pc-list-item"><a href="#" class="text-ov">2018，株洲工会读书活动，就从这场别开生面...株洲工会读书活动，就从这场别开生面...</a><span
                                        class="item-time">08-24</span>
                                </li>
                                <li class="pc-list-item"><a href="#" class="text-ov">王建之一行到株洲县朱亭镇长远村调研扶贫工作</a><span
                                        class="item-time">08-24</span>
                                </li>
                                <li class="pc-list-item"><a href="#" class="text-ov">务虚会不虚！2018年株洲工会工作要这么干！</a><span
                                        class="item-time">08-24</span>
                                </li>
                                <li class="pc-list-item"><a href="#" class="text-ov">2018“情系夕阳 关爱老人”
                                    迎元旦慰问演出..</a><span class="item-time">08-24</span></li>
                                <li class="pc-list-item"><a
                                        href="#" class="text-ov">株洲市总工会2017年“民生100”工程完成情...</a><span
                                        class="item-time">08-24</span></li>
                                <li class="pc-list-item"><a href="#" class="text-ov">《服饰搭配与美颜美妆》讲座</a><span
                                        class="item-time">08-24</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-7" style="padding:0;">
                        <div class="panel-title">
                            <span class="panel-title-span sharp">职工风采</span>
                            <span class="panel-title-en">Photo News</span>
                            <div class="more-cell title-more-cell"><a href="#">查看更多 ></a></div>
                        </div>
                        <div class="panel-content" style="padding:10px 0;">
                            <div class="card d-inline-flex" style="width:230px;height:300px;">
                                <div class="card-image"><img src="..."
                                                             style="height:140px;width:100%;background-color: #005cbf;"
                                                             alt="Card image cap"><a href="#" class="image-mask"></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-ov">Card title</h5>
                                    <p class="card-text text-ov-4">Some quick example text to build on the Some quick
                                        example text to build on the Some quick example text to build on the Some quick
                                        example text to build on the Some quick example text to build on the </p>
                                </div>
                            </div>
                            <div class="card d-inline-flex" style="width:230px;height:300px;">
                                <div class="card-image"><img src="..."
                                                             style="height:140px;width:100%;background-color: #005cbf;"
                                                             alt="Card image cap"><a href="#" class="image-mask"></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-ov">Card title</h5>
                                    <p class="card-text text-ov-4">Some quick example text to build on the Some quick
                                        example text to build on the Some quick example text to build on the Some quick
                                        example text to build on the Some quick example text to build on the </p>
                                </div>
                            </div>
                            <div class="card d-inline-flex" style="width:230px;height:300px;">
                                <div class="card-image"><img src="..."
                                                             style="height:140px;width:100%;background-color: #005cbf;"
                                                             alt="Card image cap"><a href="#" class="image-mask"></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-ov">Card title</h5>
                                    <p class="card-text text-ov-4">Some quick example text to build on the Some quick
                                        example text to build on the Some quick example text to build on the Some quick
                                        example text to build on the Some quick example text to build on the </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 0 auto;padding:20px 20px 0; background-color: #fff;width:1240px;">
                <div>
                    <div class="panel-title" style="padding:20px 0 6px;">
                        <span class="news-tab-item sharp active">职工摄影</span>
                        <div class="more-cell title-more-cell"><a href="#">查看更多 ></a></div>
                    </div>
                    <div style="margin: 20px auto;">
                    {{range .photoNews}}
                        <div class="card d-inline-flex align-items-center" style="width:230px;height: 160px">
                            <div class="card-image">
                                <div style="height:140px;width:100%;background-image: url({{.Cover}});background-size: cover;background-position: center"></div>
                                <a href="/article/{{.ID}}" class="image-mask"></a>
                            </div>
                            <div class="card-body" style="border:none;line-height: 30px;padding:0;">
                                <h5 class="card-title text-center"
                                    style="font-size: 1.06rem;margin-bottom: 0;height: 30px;line-height: 30px;">{{str2html .Title}}</h5>
                            </div>
                        </div>
                    {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{{end}}
{{define "footer"}}
{{end}}
